html,
body,
header,
h1,
section,
nav,
ul,
li,
a,
p {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: SketchRockwell;
  src: url("../fonts/SketchRockwell-Bold.ttf");
}
body {
  font-family: 'Tahoma', Calibri, Arial, sans-serif;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body header {
  font-family: 'SketchRockwell', Tahoma;
}
body header h1 {
  font-size: 4em;
  font-family: SketchRockwell;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 2%;
}
body header h1 span {
  display: block;
  margin-left: 21.5%;
}
body header nav ul {
  text-align: center;
}
body header nav ul li {
  display: inline-block;
  position: relative;
}
body header nav ul li:nth-child(2) {
  z-index: 10;
}
body header nav ul li:hover ul {
  display: block;
  font-size: .8em;
  position: absolute;
}
body header nav ul li ul {
  display: none;
}
body header nav ul li a {
  display: block;
  border: 4px outset grey;
  border-radius: 5px 20px;
  background-color: #000;
  font-size: 2em;
  color: #fff;
  box-shadow: 4px 2px 10px #000;
  text-decoration: none;
  padding: 10px 15px;
  margin-right: 10px;
}
body header nav ul li a:hover {
  border: 4px inset gray;
  box-shadow: none;
  opacity: .9;
  transition: all 0.2s ease 0s;
}
body > section {
  width: 80%;
  min-height: 60%;
  margin: 3% auto;
}
body > section header {
  text-align: center;
}
body > section header h2 {
  border: 2px solid #000;
  border-radius: 40%;
  font-size: 2em;
  padding: 1.2%;
}
body > section article header h3 {
  font-size: 1.8em;
}
body > section article p {
  font-size: 1.4em;
  text-align: justify;
  margin: 2%;
}
body > section > div {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
body > section > div > p {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 5%;
}
body > section > div section button {
  border-radius: 50%;
  font-size: 2em;
  font-weight: bold;
  padding: 5%;
  margin-bottom: 5%;
  outline: 0;
}
body > section > div section p {
  font-size: 2em;
}
body .jokes {
  width: 60%;
}
body .jokes article {
  padding: 1% 15%;
}
body .poems {
  width: 60%;
}
body .poems article {
  padding: 1% 15%;
}
body .poems article p {
  padding-left: 30%;
}
body .tales header {
  width: 60%;
  margin: 0 auto;
}
body .question article form {
  padding-left: 20%;
}
body .question article form div {
  width: 80%;
  height: 100%;
  margin-bottom: 3%;
}
body .question article form div p {
  font-size: 1.9em;
}
body .question article form div label {
  font-size: 1.6em;
}
body .question article button {
  display: block;
  border-radius: 50%;
  font-size: 1.8em;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}
body .dreamer {
  width: 100%;
}
body .dreamer header {
  width: 80%;
  margin: 0 auto;
}
body .dreamer pre {
  font-size: 1.8em;
  margin-left: 5%;
}
body .pictures {
  text-align: center;
}
body .pictures img {
  max-width: 100%;
  padding: 2%;
}
body .video article {
  text-align: center;
  width: 100%;
}
body .video article iframe {
  border: none;
  max-width: 100%;
  min-height: 240px;
  padding: 10px;
}
body footer {
  background-color: #000;
  border-top: 12px outset grey;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}
body footer section {
  width: 80%;
  margin: 2% auto 0;
}
body footer section div {
  display: inline-block;
  background-color: #fff;
  border-radius: 15%;
  vertical-align: bottom;
  width: 20%;
  margin-bottom: 1%;
}
body footer section div:nth-child(2) {
  width: 70%;
  margin-left: 5%;
}
body footer section div header h4 {
  font-size: 1.5em;
  text-align: center;
  margin: 1% 0;
}
body footer section div p {
  color: grey;
  font-size: 1.3em;
  text-align: center;
  padding: 1%;
}
body footer section div a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
