html,
body,
header,
h1,
section,
nav,
ul,
li,
a,
p {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: SketchRockwell;
  src: url("../fonts/SketchRockwell-Bold.ttf");
}
body {
  background-color: #ffa500;
  font-family: 'Tahoma', Calibri, Arial, sans-serif;
  font-size: 62.5%;
  width: 100%;
}
body header {
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-bottom: 12px outset rgba(0, 128, 0, 0.6);
  font-family: 'SketchRockwell', Tahoma;
}
body header h1 {
  font-size: 6em;
  font-family: SketchRockwell;
  color: #008000;
  text-shadow: 8px 8px 32px #808000;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 2%;
}
body header h1 span {
  display: block;
  margin-left: 21.5%;
}
body header nav ul {
  text-align: center;
}
body header nav ul li {
  display: inline-block;
  border: 4px outset #e8a015;
  border-radius: 5px 20px;
  background-color: #faed17;
  font-size: 2em;
  color: #fff;
  list-style-type: none;
  box-shadow: 4px 4px 10px #ffffff;
  margin-right: 10px;
  position: relative;
}
body header nav ul li:nth-child(2) {
  z-index: 10;
}
body header nav ul li a {
  display: block;
  border-radius: 5px 20px;
  color: #008000;
  text-decoration: none;
  padding: 10px 15px;
}
body header nav ul li ul {
  display: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
}
body header nav ul li ul li {
  display: block;
  margin: 15px;
}
body header nav ul li ul li a {
  font-size: .5em;
}
body header nav ul li:hover {
  border: 4px inset #faed17;
  box-shadow: none;
  opacity: .9;
  transition: all 0.2s ease 0s;
}
body header nav ul li:hover ul {
  display: block;
}
body header nav .dropdown {
  color: #008000;
  padding: 10px 15px;
}
body header nav .dropdown .arrow {
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #008000;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 5px;
}
body header nav .dropdown ul li {
  margin: 0;
}
body header nav .dropdown ul li a {
  font-size: .5em;
}
body > section {
  width: 90%;
  min-height: 60%;
  margin: 3% auto;
}
body > section header {
  border-top: 12px outset #ffff9e;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  background-color: rgba(255, 165, 0, 0.4);
  text-align: center;
}
body > section header h2 {
  border: 2px solid #808080;
  border-radius: 40%;
  background-color: #ffffff;
  font-size: 2em;
  padding: 1.2%;
}
body > section article {
  border: 2px solid #808080;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: #ffffff;
  padding: 2%;
}
body > section article header h3 {
  font-size: 1.8em;
}
body > section article p {
  font-size: 1.4em;
  text-align: justify;
  margin: 2%;
}
body > section article blockquote {
  font-size: 1.4em;
}
body > section > div {
  color: #FFFFDA;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
body > section > div > p {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 2%;
}
body > section > div section button {
  border-radius: 50%;
  border: 4px outset grey;
  font-size: 2em;
  font-weight: bold;
  color: #a0630b;
  padding: 4%;
  margin-bottom: 5%;
  outline: 0;
}
body > section > div section button:hover {
  border: 4px inset grey;
  cursor: pointer;
}
body > section > div section p {
  font-size: 2em;
}
body .jokes {
  width: 80%;
}
body .jokes article {
  padding: 1% 15%;
}
body .poems {
  width: 80%;
}
body .poems article {
  padding: 1% 15%;
}
body .poems article p {
  padding-left: 30%;
}
body .tales header {
  width: 90%;
  margin: 0 auto;
}
body .question header h2 {
  width: 90%;
  margin: 1% auto;
}
body .question article form {
  padding-left: 20%;
}
body .question article form div {
  width: 80%;
  height: 100%;
  margin-bottom: 3%;
}
body .question article form div p {
  font-size: 1.9em;
}
body .question article form div label {
  font-size: 1.6em;
  padding: 10px;
}
body .question article button {
  display: block;
  border: 4px outset grey;
  border-radius: 50%;
  font-size: 1.8em;
  font-weight: bold;
  color: #a0630b;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
}
body .dreamer {
  font-size: 1.4em;
}
body .dreamer article {
  margin-top: 4%;
}
body .dreamer article p {
  padding: 0;
  margin: 1px 0;
  font-size: 1.2em;
}
body .dreamer article .operator {
  color: blue;
}
body .dreamer article .var {
  color: maroon;
}
body .dreamer article .val {
  color: tomato;
}
body .dreamer article .pad-1 {
  padding-left: 3%;
}
body .dreamer article .pad-2 {
  padding-left: 6%;
}
body .pictures {
  text-align: center;
}
body .pictures header h2 {
  font-size: 2.5em;
  width: 90%;
  margin: 1% auto;
}
body .pictures article header h3 {
  font-size: 2em;
}
body .pictures img {
  max-width: 100%;
  vertical-align: middle;
  padding: 2%;
}
body .video article {
  text-align: center;
}
body .video article iframe {
  border: none;
  max-width: 100%;
  padding: 10px;
}
body footer {
  border-top: 12px outset #ffff9e;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  background-color: #ffa500;
}
body footer section {
  color: #ba720c;
  width: 80%;
  margin: 2% auto 0;
}
body footer section div {
  display: inline-block;
  background-color: #fff;
  border-radius: 15%;
  vertical-align: top;
  width: 210px;
  margin-right: 2%;
  margin-bottom: 1%;
}
body footer section div:nth-child(3) {
  width: 100%;
  margin-right: 0;
  margin-bottom: ;
}
body footer section div h4 {
  font-size: 1.5em;
  text-align: center;
  margin: 1% 0;
}
body footer section div p {
  color: grey;
  font-size: 1.3em;
  text-align: center;
  padding: 1%;
}
body footer section div a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
  body header h1 {
    font-size: 5em;
  }
  body header nav ul {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  body header nav ul li {
    margin-top: 10px;
  }
  body header nav ul li ul li {
    width: 35%;
  }
  body header nav ul li ul li a {
    font-size: 0.5em;
  }
  body section {
    width: 100%;
  }
  body .jokes {
    width: 90%;
  }
  body .poems article p {
    padding-left: 15%;
  }
  body .video article iframe {
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  body header h1 {
    font-size: 4em;
  }
  body header nav ul {
    width: 100%;
  }
  body header nav ul li {
    display: block;
    margin-top: 0;
  }
  body header nav ul li ul li {
    width: 80%;
    left: 0;
  }
  body header nav ul li ul li a {
    font-size: .5em;
  }
  body section {
    width: 100%;
  }
  body .jokes {
    width: 100%;
  }
  body .poems article p {
    padding-left: 5%;
  }
  body .pictures img {
    padding: 0;
    margin-bottom: 10%;
  }
  body .video article iframe {
    width: 90%;
    height: 250px;
  }
  body footer section div {
    display: block;
    width: 100%;
  }
}
